VITE_SUPABASE_URL=https://bpzzgilwlkghgfkvkkxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwenpnaWx3bGtnaGdma3Zra3h4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0MTg3MzIsImV4cCI6MjA5Njk5NDczMn0.fnpA7SmbBNeLH3spQuC6k_x06mlNsfM2Ygl0r_fsCFA
